@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, form, toc, transitions, alignment;

@layer alignment {
  [data-align='right'] {
    .container {
      /* grid-template-columns: 1fr 60ch 1fr; */
      grid-template-columns: 1fr auto;
    }
    table-of-contents {
      grid-column: 2;
      margin-right: 0;
      font-weight: 500;
      margin-left: 4rem;
      text-rendering: geometricPrecision;
    }
    header, main {
      max-width: fit-content;
      width: 60ch;
      grid-column: 1;
    }
    .container > hr, footer {
      grid-column: 1;
    }
  }
}

@layer transitions {
  table-of-contents {
    scroll-target-group: auto;
    a {
      /* color: color-mix(in oklch, canvasText, canvas); */
/*  disabled for video recording       */
      transition-property: color;
      transition-duration: 0.26s;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      color: light-dark(hsl(0 0% 60%), hsl(0 0% 40%));

      &:is(:hover, :focus-visible) {
        color: light-dark(hsl(0 0% 0%), hsl(0 0% 100%));
      }
    }


    nav > ol > li:first-of-type {
      anchor-name: --active;
    }
    :not([href='#pre']):target-current {
      anchor-name: --active;
      color: light-dark(var(--accent-light), var(--accent-dark));
      opacity: 1;
    }

    &:has(:not([href='#pre']):target-current)::after {
      opacity: 1;
    }

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      width: anchor-size(height);
      height: anchor-size(height);
      translate: -100% 0;
      background: light-dark(var(--accent-light), var(--accent-dark));
      border-radius: 0;
      scale: 0.25;
      position-anchor: --active;
      left: anchor(left);
      top: anchor(top);
      transition-property: top, left, opacity;
      transition-duration: 0.26s;
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
      
      @supports (corner-shape: squircle) {
        corner-shape: squircle;
        border-radius: 100px;
      }
    }
  }
}

@layer toc {
  table-of-contents {
    position: sticky;
    /* this makes it not consume full height of the grid so it "sticks" */
    /* this is often the piece people overlook when thinking sticky does not work */
    align-self: start;
    top: 4rem;
    margin-right: 4rem;
    font-size: 0.875rem;

    
    
    [href='#pre'] {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding-right: 0.5rem;
      text-transform: uppercase;
      font-size: 0.65rem;
      svg {
        width: 16px;
      }
    }
    .back-to-top {
      opacity: 0;
      pointer-events: none;
    }
    &:has(:not([href='#pre']):target-current) {
      .back-to-top {
        opacity: 1;
        pointer-events: all;
      }
      hr {
        opacity: 0.5;
      }
    }
    hr {
      opacity: 0;
      margin-top: 2rem;
    }
    hr, .back-to-top {
      transition: opacity 0.26s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    h2 {
      margin-top: 0;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      position: absolute;
      bottom: 100%;
      margin-bottom: 0.25rem;
      font-size: 0.65rem;
      /* opacity: 0.5; */
      color: light-dark(#000, #fff);
    }
    nav ol {
      margin: 0;
      list-style: none;
      padding-left: 1rem;
    }
    nav a {
      text-decoration: none;
      color: inherit;
    }
    nav > ol {
      padding: 0;
    }

    nav a {
      display: block;
      padding-block: 0.25rem;
    }
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}

@layer demo {
  html {
    display: grid;
    place-items: center;
    scrollbar-color: light-dark(var(--accent-light), var(--accent-dark)) #0000;
  }

  table-of-contents {
    grid-row: 2;
    margin-top: 0;
  }
  header {
    max-width: fit-content;
    width: 60ch;
    grid-column: 2;
  }
  body {
    display: block;
    font-family: 'Inter', sans-serif;
    color: light-dark(hsl(0 0% 24%), hsl(0 0% 98%));
    letter-spacing: -0.02em;
    align-content: start;
    place-items: start;
  }
  footer {
    width: 100%;
    grid-column: 2;

    & > p {
      font-size: 0.875rem;
      opacity: 0.7;
      text-align: center;
      padding-block: 2rem;
    }
  }
  .container {
    display: inline-grid;
    max-width: 100%;
    padding-inline: 1rem;
    /* got 2 layout methods here and perhaps we can config them */
    grid-template-columns: auto 1fr;
    /* grid-template-columns: 1fr 60ch 1fr; */
  }
  main {

    grid-column: 2;
    width: 60ch;
    /* they also end up dictating the max-width, columns, etc. */
    max-width: fit-content;
    /* max-width: calc(100vw - 2rem); */
  }

  header {
    min-height: 50vh;
    display: grid;
    align-content: end;
    padding-block: 4rem;

    .author-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .author {
      display: flex;
      /* font-weight: 500; */
      align-items: center;
      gap: 1.5rem;
      font-weight: 400;
      font-size: 0.875rem;
      span {
        opacity: .7;
      }
      
    }
    img {
      width: 24px;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }
  section {
    margin-bottom: 6rem;

    &:last-of-type {
      margin-top: 6rem;
    }
  }

  h3 {
    margin-top: 2rem;
    margin-bottom: .5rem;
  }

  article p {
    line-height: 1.5;
    margin: 0;
  }

  article p:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  h1 {
    --font-level: 4.5;
    line-height: 1;
    margin: 0;
    margin-bottom: 2rem;
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }

  body {
    background: light-dark(#fff, #000);
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 90%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    mask: linear-gradient(-200deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .bear-link {
    color: canvasText;
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 256px;
  position: fixed;
}

@layer form {
  .container > hr {
    grid-column: 2;
    width: 100%;
    margin-bottom: 6rem;
  }

  [data-waitlist-form] {
    margin-bottom: 6rem;
  }

  [data-waitlist-content] > p {
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.5;
    text-wrap: pretty;
  }

  [data-waitlist-content] > p strong {
    font-weight: 700;
    text-wrap: balance;
  }

  [data-controls] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  [data-controls] > div {
    flex: 1 1 0%;
    display: flex;
  }

  [data-controls] > div:last-child {
    position: relative;
  }

  [data-controls] input {
    border-radius: 0.375rem;
    border: 1px solid rgb(209 213 219);
    height: 2.25rem;
    padding-inline: 1rem;
    flex: 1 1 0%;
    min-width: 0;
    outline: none;
    color: canvasText;
  }

  [data-controls] input:focus-visible {
    border-color: light-dark(var(--accent-light), var(--accent-dark));
  }

  [data-controls] input::placeholder {
    font-size: 0.875rem;
    color: rgb(156 163 175);
  }

  [data-controls] button {
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
    color: light-dark(#fff, #000);
    background: light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
    box-shadow: inset 0 2px 4px 0 rgb(17 24 39 / 0.2);
    cursor: pointer;
    height: 2.25rem;
    display: grid;
    place-items: center;
    font-size: 0.875rem;
    padding-inline: 1rem;
  }

  [data-controls] button:active {
    transform: scale(0.98);
  }

  [data-controls] button::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.375rem;
    background: linear-gradient(180deg, rgb(255 255 255 / 0.4), rgb(255 255 255 / 0.1));
    opacity: 0.7;
  }

  [data-controls] button:hover::after {
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-controls] button,
    [data-controls] button::after {
      transition: all 0.2s;
    }
  }

  [data-waitlist-form] form > div:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    accent-color: light-dark(var(--accent-light), var(--accent-dark));
    font-size: 0.75rem;
  }
}